:root{
    --pink:#F54798;
    --black:#252a34;
    --gray:#878085;
    --red:#F04E51;
}
body{
    font-family: 'Titillium Web', sans-serif;
}
.navegacion
{
    background:var(--black);
}
.boton
{
    background:var(--black);
}
.tamano
{
    font-size: 25px;
}

.imagen
{
    width: 100%;
}

.traductor
{   
    margin-left:10px;
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: -1;
    padding: 3px;
    border: 2px solid var(--red);
    color:var(--black);
    border-radius: 5px;
    color:var(--black);
}
.traductor:hover
{
    text-decoration: none;
    color:var(--black)
}

.alinear
{
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}
.navbar-light
{
    color:red;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url(../img/bar.png);
}

.custom-toggler.navbar-toggler {
    color: aliceblue;
    border-color: rgb(255, 255, 255);
} 

.iconos
{
    color:var(--red);
}