:root{
    --pink:#630873;
    --black:#252a34;
    --gray:#878085;
    --red:#F04E51;
    --gray2:#505B70;
}
html {
    scroll-behavior: smooth;
  }
body{
    margin:0px;
    padding:0px;
    font-family: 'Titillium Web', sans-serif;
    left: 0;
}
/*---------------CABECERA------------*/
header .traductor
{   
    margin-left:10px;
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: -1;
    padding: 3px;
    border: 2px solid var(--black);
    color:var(--black);
    border-radius: 5px;
}
header .traductor:hover
{
    text-decoration: none;
    color:var(--black)
}
header .alinear
{
    display: flex;
    justify-content: flex-end;
}

header .iconos
{
    color:var(--pink);
}
header .iconos:hover
{
    color: var(--black);
    transform: scale(1.03);
}

/*---------------BARRA NAVEGACION------------*/
.navegacion
{
    
    background:linear-gradient(var(--black),#630873);
}

nav .tamano-letra
{
    font-size: 25px;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url(../img/bar.png);
}
.custom-toggler.navbar-toggler {
    color: aliceblue;
    border-color: rgb(255, 255, 255);
} 
.nav-item:hover
{
    text-decoration: underline white;
}
/*---------------BIENVENIDOS------------*/
.bienvenidos
{
    background-image:    linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url(../img/principal.jpg);
    position: relative;
    width: 100%;
    height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}


/*---------------SERVICIOS------------*/
.servicios .tipos img
{
    width: 150px;
}
/*---------------PROYECTOS------------*/
.proyectos
{
    background-image:    linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ), url(../img/proyectos4.jpg);
    position: relative;
    width: 100%;
    height: 110%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    border-bottom-right-radius:50% 5%;
    border-bottom-left-radius: 50% 5%;
}

.proyectos .fotos-proyectos > img
{
    width: 300px;
    height: 200px;
    cursor: pointer;
    filter:grayscale(1);
}
.proyectos .fotos-proyectos > img:hover{
    transform:scale(2);
    filter:none;
    transition-duration:500ms;
}
.instituciones img
{
    width: 250px;
}

.tamano-caja
{   
        width: 50%;
        margin: auto;
}

.habilidades .barras
{
   display: flex;
   justify-content: center;
}
.habilidades img
{
    width: 180px;
}

/* FORMULARIO*/

.formulario
{
    width: 70%;
    background-image:    linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ), url(../img/proyectos2.jpg);
      background-attachment: fixed;
}

.copyright
{   border-top-color: var(--black);
    border-top-style: solid;
    background-image:    linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.9)
      ), url(../img/1.jpg);
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.fondo
{
    background:whitesmoke;
}
/*GENERALES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*si anda mal borrar*/
.h1
{
    font-size:50px;
}
.h2,.h3
{
    font-size:43px;
}
.curva-final::after,.curva-final::before
{
    content:'';
    background:white;
    position:absolute;
    left:0;
    width:100%;
    height:100px;
    top:auto;
    bottom:-10px;
    border-radius:50% 50% 0 0;
}
.curva-inicio::after,.curva-inicio::before
{
    content:'';
    background:white;
    position:absolute;
    left:0;
    top:-10px;
    width:100%;
    height:100px;
    border-radius:0 0 50% 50%;
}

.padding-top-extenso
{   
    padding-top: 200px;
}
.margin-top-extenso
{
    margin-top: 70px;
}
.margin-top-muy-extenso
{
    margin-top: 100px;
}
.padding-bottom-extenso
{   
    padding-bottom: 150px;
}
.margin-bottom-extenso
{
    margin-bottom: 100px;
}

.hr-white
{
    width: 40%;
    height: 2px;
}
.hr-black
{
    width: 40%;
    height: 2px;
    background-color: var(--black);
}
.hr-pequena
{
    width: 20%;
    height: 2px;
    background-color: var(--black);
}
p,label
{
    font-size: 20px;
}

.mas-borde
{
    border:2px solid black;
    border-radius: 6px;
}
.mas-borde-2
{
    border:3px solid var(--black);
    border-radius: 6px;
}
.mas-borde-blanco
{
    border:1px solid white;
    border-radius: 6px;
}

#color-rosa
{
    background-color: #DF336B!important;
}


.contenedor {
    width: 350px;
    height: 500px;
    overflow: hidden;
    border:2px solid var(--black);
}
.contenedor:hover
{
    cursor: pointer;
}
.sacar-ref
{ 
    color: white;
    text-decoration: none;
}
.sacar-ref:hover
{ 
    color: white;
    text-decoration: none;
}



/* MEDIA*/
@media only screen and (max-width:780px)
{
    .desaparecer
    {
        height: 0px;
        visibility: hidden;
    }
    header .alinear
    {
        display:flex;
        justify-content: center;
        padding-left: 40px;
    }
    header .alinear a{
        font-size:19px;
        padding: 0px;
        margin: 7px;
    }
    
    .proyectos .fotos-proyectos > img
    {
        width: 320px;
        height: 240px;
        filter:none;
    }
    .proyectos .fotos-proyectos > img:hover{
        transform:none;
        filter:none;
    }
    .sobre-mi 
    {
        padding: 0px;
        text-align: center;
        margin-bottom: 0px;
    }

    .h1
    {
        font-size:30px;
    }
    .h2,.h3
    {
        font-size:25px;
    }
    p{
        font-size: 19px;
    }
    .bienvenidos, .copyright, .proyectos, .formulario
    {
        background-attachment:scroll
    }

}
@media only screen and (max-width:550px)
{
    .proyectos .fotos-proyectos > img
    {
        width: 300px;
        height: 230px;
        filter:none;
    }
}
@media only screen and (max-width:400px)
{
    .proyectos .fotos-proyectos > img
    {
        width: 200px;
        height: 150px;
        filter:none;
    }
}
@media only screen and (max-width:330px)
{
    .h2,.h3
    {
        font-size:20px;
    }
    p{
        font-size: 15px;
    }
    header .alinear a{
        font-size:15px;
        padding: 0px;
        margin: 7px;
    }
}