:root{
    --pink:#F54798;
    --black:#252a34;
    --gray:#878085;
    --red:#F04E51;
    --gray2:#505B70;
}

body{
    margin:0px;
    padding:0px;
    font-family: 'Titillium Web', sans-serif;
}
/*---------------CABECERA------------*/
header .traductor
{   
    margin-left:10px;
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: -1;
    padding: 3px;
    border: 2px solid var(--black);
    color:var(--black);
    border-radius: 5px;
}
header .traductor:hover
{
    text-decoration: none;
    color:var(--black)
}
header .alinear
{
    display: flex;
    justify-content: flex-end;
}

header .iconos
{
    color:var(--pink);
}

/*---------------BARRA NAVEGACION------------*/
.navegacion
{
    background:var(--black);
}

nav .tamano-letra
{
    font-size: 25px;
}
nav .custom-toggler .navbar-toggler-icon {
    background-image: url(../img/bar.png);
}
nav .custom-toggler.navbar-toggler {
    color: aliceblue;
    border-color: rgb(255, 255, 255);
} 
/*---------------BIENVENIDOS------------*/
.bienvenidos
{
    background-image:    linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url(../img/4.jpg);
    position: relative;
    width: 100%;
    height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}


/*---------------SERVICIOS------------*/
.servicios .tipos img
{
    width: 150px;
}
/*---------------PROYECTOS------------*/
.proyectos
{
    background-image:    linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url(../img/1.jpg);
    position: relative;
    width: 100%;
    height: 110%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    border-bottom-right-radius:50% 5%;
    border-bottom-left-radius: 50% 5%;
}

.proyectos .fotos-proyectos > img
{
    width: 300px;
    cursor: pointer;
    filter:grayscale(1);
}
.proyectos .fotos-proyectos > img:hover{
    transform:scale(1.2);
    filter:none;
    transition-duration:300ms;
}
.instituciones img
{
    width: 250px;
}

.tamano-caja
{   
        width: 50%;
        margin: auto;
}

.habilidades .barras
{
   display: flex;
   justify-content: center;
}
.habilidades img
{
    width: 180px;
}

/* FORMULARIO*/

.formulario
{
    width: 70%;
    background-image:    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(../img/1.jpg);
      background-attachment: fixed;
}

.copyright
{   border-top-color: var(--black);
    border-top-style: solid;
    background-image:    linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.9)
      ), url(../img/1.jpg);
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.fondo
{
    background:whitesmoke;
}
/*GENERALES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*si anda mal borrar*/
.curva-final::after,.curva-final::before
{
    content:'';
    background:white;
    position:absolute;
    left:0;
    width:100%;
    height:100px;
    top:auto;
    bottom:-10px;
    border-radius:50% 50% 0 0;
}
.curva-inicio::after,.curva-inicio::before
{
    content:'';
    background:white;
    position:absolute;
    left:0;
    top:-10px;
    width:100%;
    height:100px;
    border-radius:0 0 50% 50%;
}

.padding-top-extenso
{   
    padding-top: 150px;
}
.margin-top-extenso
{
    margin-top: 70px;
}
.margin-top-muy-extenso
{
    margin-top: 100px;
}
.padding-bottom-extenso
{   
    padding-bottom: 150px;
}
.margin-bottom-extenso
{
    margin-bottom: 100px;
}

.hr-white
{
    width: 40%;
    height: 2px;
}
.hr-black
{
    width: 40%;
    height: 2px;
    background-color: var(--black);
}
.hr-pequena
{
    width: 20%;
    height: 2px;
    background-color: var(--black);
}
p
{
    font-size: 19px;
}

.mas-borde
{
    border:2px solid black;
    border-radius: 6px;
}
.mas-borde-blanco
{
    border:1px solid white;
    border-radius: 6px;
}