:root{
    --pink:#F54798;
    --black:#252a34;
    --gray:#878085;
    --red:#F04E51;
    --gray2:#505B70;
}

body{
    font-family: 'Titillium Web', sans-serif;
}


.navegacion
{
    background:var(--black);
}
.boton
{
    background:var(--black);
}
.tamano
{
    font-size: 25px;
}

.imagen
{
    width: 110%;
}

.traductor
{   
    margin-left:10px;
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: -1;
    padding: 3px;
    border: 2px solid var(--black);
    color:var(--black);
    border-radius: 5px;
}
.traductor:hover
{
    text-decoration: none;
    color:var(--black)
}
.alinear
{
    display: flex;
    justify-content: flex-end;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url(../img/bar.png);
}
.custom-toggler.navbar-toggler {
    color: aliceblue;
    border-color: rgb(255, 255, 255);
} 
.iconos
{
    color:var(--pink);
}
.bienvenidos
{
    background-image:    linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url(../img/4.jpg);
    position: relative;
    width: 100%;
    height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 50px;

    /*border-bottom-right-radius: 90% 25%;
    border-bottom-left-radius: 90% 25%;*/
}



.servicios .habilidades img
{
    width: 150px;
}


.hr-white
{
    width: 40%;
    height: 2px;
}
.hr-black
{
    width: 40%;
    height: 2px;
    background-color: var(--black);
}
.hr-pequena
{
    width: 20%;
    height: 2px;
    background-color: var(--black);
}


.proyectos
{
    background-image:    linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url(../img/1.jpg);
    position: relative;
    width: 100%;
    height: 110%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}


.proyectos .fotos-proyectos > img
{
    width: 300px;
}
.tamano-caja
{   
        text-align: center;
        width: 40%;
        margin: auto;
}

/*GENERALES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*si anda mal borrar*/
.curva-final::after,.curva-final::before
{
    content:'';
    background:white;
    position:absolute;
    left:0;
    width:100%;
    height:100px;
    top:auto;
    bottom:-10px;
    border-radius:50% 50% 0 0;
}
.curva-inicio::after,.curva-inicio::before
{
    content:'';
    background:white;
    position:absolute;
    top:-10px;
    left:0;
    width:100%;
    height:100px;
    border-radius:0 0 50% 50%;
}
.padding-extenso
{   
    padding-top: 150px;
}
.margen-extenso
{
    margin-top: 100px;
}